<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>MainCategory</servlet-name>
        <servlet-class>com.example.altazdawakhana.disease</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainCategory</servlet-name>
        <url-pattern>/health-problem/*</url-pattern>
    </servlet-mapping>
<servlet>
    <servlet-name>aboutus</servlet-name>
    <jsp-file>/AboutUs.jsp</jsp-file>
</servlet>
    <servlet-mapping>
        <servlet-name>aboutus</servlet-name>
        <url-pattern>/AboutUs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>award</servlet-name>
        <jsp-file>/Awards.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>award</servlet-name>
        <url-pattern>/Awards</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cardio</servlet-name>
        <jsp-file>/CardioDisease.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cardio</servlet-name>
        <url-pattern>/CardioDisease</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>case</servlet-name>
        <jsp-file>/CaseStudy.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>case</servlet-name>
        <url-pattern>/CaseStudy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>confid</servlet-name>
        <jsp-file>/Confidentiality.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>confid</servlet-name>
        <url-pattern>/Confidentiality</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>contact</servlet-name>
        <jsp-file>/ContactUs.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/ContactUs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>diabte</servlet-name>
        <jsp-file>/Diabetes.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>diabte</servlet-name>
        <url-pattern>/Diabetes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>disclaim</servlet-name>
        <jsp-file>/Disclaimer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>disclaim</servlet-name>
        <url-pattern>/Disclaimer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gastro</servlet-name>
        <jsp-file>/GastroProblems.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>gastro</servlet-name>
        <url-pattern>/GastroProblems</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hair</servlet-name>
        <jsp-file>/HairTreatment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>hair</servlet-name>
        <url-pattern>/HairTreatment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>height</servlet-name>
        <jsp-file>/IncreaseHeight.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>height</servlet-name>
        <url-pattern>/IncreaseHeight</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hist</servlet-name>
        <jsp-file>/History.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>hist</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>incrweight</servlet-name>
        <jsp-file>/IncreaseWeight.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>incrweight</servlet-name>
        <url-pattern>/IncreaseWeight</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>kidney</servlet-name>
        <jsp-file>/KidneyDiseases.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>kidney</servlet-name>
        <url-pattern>/KidneyDiseases</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>liver</servlet-name>
        <jsp-file>/LiverProblems.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>liver</servlet-name>
        <url-pattern>/LiverProblems</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>men</servlet-name>
        <jsp-file>/MenHealth.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>men</servlet-name>
        <url-pattern>/MenHealth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mensur</servlet-name>
        <jsp-file>/Mensuration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mensur</servlet-name>
        <url-pattern>/Mensuration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>neuro</servlet-name>
        <jsp-file>/NeurologicalProblems.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>neuro</servlet-name>
        <url-pattern>/NeurologicalProblems</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>obes</servlet-name>
        <jsp-file>/Obesity.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>obes</servlet-name>
        <url-pattern>/Obesity</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>patrights</servlet-name>
        <jsp-file>/PatientRights.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>patrights</servlet-name>
        <url-pattern>/PatientRights</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>patsupport</servlet-name>
        <jsp-file>/PatientSupport.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>patsupport</servlet-name>
        <url-pattern>/PatientSupport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>privacy</servlet-name>
        <jsp-file>/PrivacyPolicy.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>privacy</servlet-name>
        <url-pattern>/PrivacyPolicy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>respiratory</servlet-name>
        <jsp-file>/RespiratoryDisease.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>respiratory</servlet-name>
        <url-pattern>/RespiratoryDisease</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>skin</servlet-name>
        <jsp-file>/SkinProblems.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>skin</servlet-name>
        <url-pattern>/SkinProblems</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>terms</servlet-name>
        <jsp-file>/TermsCondition.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>terms</servlet-name>
        <url-pattern>/TermsCondition</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>thry</servlet-name>
        <jsp-file>/Thyroid.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>thry</servlet-name>
        <url-pattern>/Thyroid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>una</servlet-name>
        <jsp-file>/Unani.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>una</servlet-name>
        <url-pattern>/Unani</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>unani</servlet-name>
        <jsp-file>/UnaniTreatment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>unani</servlet-name>
        <url-pattern>/UnaniTreatment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>women</servlet-name>
        <jsp-file>/WomanHealth.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>women</servlet-name>
        <url-pattern>/WomanHealth</url-pattern>
    </servlet-mapping>
</web-app>